<div class="container-fluid">
<p>Inspirational Quotes</p>
<hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-"></div>
        <div class="col-md-6">
            <ul>
                <div *ngFor='let quote of quotes; let i =index'>
                    <li  appHighlight>{{quote.name}}. Due on => {{quote.createdDate| date|uppercase}}</li>
                    <button (click)='toggleDetails(i)'>More Details</button>
                    <app-quote-detail *ngIf="quote.showDetails" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail> 
         
                </div>
            </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            
        </div>
        <div class="col-md-"></div>

</div>
<p *ngIf='quotes.length > 10'>Famous inspirational quotes</p>
</div>
