<p>quote-form works!</p>
<div>
    <h2>Create your quote!</h2>
            <form #quoteForm='ngForm'>
                <div class="form-group">
          
                    <label for="name">Quote</label>
                    <textarea type="text" rows="4"  required class="form-control" id="name"  [(ngModel)]="newQuote.name" name="name"></textarea>
                    
                    <!-- Testing to see if we get any data -->
                    <!-- Display {{newQuote.name}} -->

                </div>
                <div class="form-group">
          
                    <label for="description">Author</label>
                    <input class="form-control" id="description" rows="4" required>
          
                </div>
                <div class="form-group">
                    <label for="complete">Created On :</label>
                    <input type='date' id="complete" required>
                </div>
                <button type="submit" class="btn btn-success">Submit Quote</button>
            </form>
</div>
